* {
  /* margin: 0px;
  padding: 0px;
  */
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

html, body {
  background-color: #f6f6f6;
}

/* CSS for the app */

.page-container {
  position: relative;
  min-height: 100vh;
  background-color: #f6f6f6;
}

.content-wrap {
  margin-top: 5px;
  padding-bottom: 10rem;
  background-color: #ffffff;
  background-image: url('https://www.pixelstalk.net/wp-content/uploads/2016/07/Download-Free-Pokemon-Lucario-Background.png');
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* CSS for NavBar */
.navbar-container {
  height: 10vh;
}


.logo {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.other-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 70%
}


/* CSS for home component */

.who-that-pokemon-image-2 {
  height: 60%
}

.who-that-pokemon-image:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

.who-that-pokemon-image-2:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

.home-pokemon-description-container {
  display: flex;
  width: 100%;
  height: 45vh;
  justify-content: space-evenly;
  align-items: center;
}

.home-pokemon-description-card {
  border-radius: 16px;
  height: 90%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  transition: transform .2s
}

.home-pokemon-description-card:hover {
  transform: scale(1.5); 
}

.home-poke-type-card {
  display: flex;
}

.home-poke-ability-card {
  background-color: beige;
  margin: 10px;
  width: 90%
}


/* CSS for safari zone/battle components */

.sf-zone-load-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.battle-p-tag-load {
  animation: blinkingPTag 5s infinite
}

.trainer-battle-pokeball-container {
  display: flex;
  flex-direction: column;
}

.attack-card {
  display: flex;
  justify-content: space-evenly;
}

.zone-image-card-opponent {
  width: 30%;
  height: 60%;
}

.poke-ball-battle-pokemon:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}


.pokemon-attack {
  border:3px solid red;
  border-radius: 16px;
  margin-top: 10px;
  height: 150px;
  width: 250px
}

.pokemon-attack:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;

}



/* CSS for trainer component  */
.trainer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.create-trainer-container {
  height: 97%;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trainer-form {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.trainer-starter-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.trainer-image-container {
  margin-top: 20px;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.trainer-image-select-button {
  height: 20%
}

.footer {
  background-color: green;
}


/* PC container */

.pc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.search-bar-container {
  width: 80%;
  margin: 10px;
}

.search-bar {
  height: 100%;
  width: 100%;
}

.team-container {
  margin: 10px;
  width: 80%;
  border-radius: 16px;
  display: flex;
  justify-content: flex-start;
  background-color: gray;
}

.team-container:hover {
  background-color: lightsteelblue;
}

.pokemon-team-pokeball {
  height: 100%;
}

.pokemon-team-pokeball:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

.pc-pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.my-pokemon-header {
  background-color: darkorange;
  height:50px;
  width: 775px;
  display:flex;
  justify-content: center; 
  align-items: center;
}


.my-pokemon-header:hover {
  background-color: yellow;
}


.pc-pokemon-card{
  display: flex;
  flex-wrap: wrap;
  border: 3px solid gray;
  height: 900px;
  width: 60vw;
  margin: 10px;
  background-color: lightgray;
  overflow-y: scroll;
}

.pc-pokemon-card-single {
  height: 125px;
  width: 125px;
  background-color: lightyellow;
}

.pc-pokemon-card-single:hover {
  background-color: gold;
}

.pokemon-pc-sprite {
  height: 15%;
  width: 15%;
  margin: 5px;
}



.pokemon-pc-sprite:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

.poke-ball-card {
  display: flex;

}

.poke-ball-button {
  background-color: crimson;
  height: 40%
}

.poke-ball-button:hover {
  background-color: gold;
}

.poke-ball-pc-box-button {
  background-color: lightgreen;
}

.poke-ball-pc-box-button:hover {
  background-color: green;
}

.pc-select-pokemon-card {
  border: 3px solid gold;
  background-color: beige;
  margin: 10px;
  width: 27%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  border-radius: 8px;
  transition: transform .2s
}

.pc-select-pokemon-card:hover {
  transform: scale(1.15)
}


.select-poke-card {
  display: flex;
  justify-content: flex-end;
  width: 100%
}

.pc-select-type {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pc-select-stat {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  background-color: goldenrod;
  justify-content: center;
  width: 90%;
}

.pc-select-stat-2 {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  background-color: goldenrod;
  width: 300px;
  justify-content: center;

}

.pc-select-ability {
  width: 85%;
  height: 40%;
  overflow-y: scroll;
  margin: 10px;
  background-color: goldenrod
}

.pc-select-move {
  height: 80%;
  width: 85%;
  overflow-y: scroll;
  margin: 10px;
  background: goldenrod;
}


/* code for loading component */

:root {
  --drop-height: 80px;										
  --logo-size: 100px;
  --offset: 50px;
  --shadow-height: 10px;
}

.loading-container {
  position: relative;
  width: 100%;
  height: 1000px;
}


.loading-poke-ball {
  width: var(--logo-size);
  height: var(--logo-size);
  position: absolute;
  top: var(--offset);
  left: calc(50% - var(--logo-size)/2);

  animation-name: bounce; 
  animation-duration: 0.75s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  animation-iteration-count: infinite;
}

.ball-shadow {
  width: var(--logo-size);
  height: var(--shadow-height);
  background: radial-gradient(50% 50%, rgb(0, 0, 0), rgba(150,150,150,0.05));
  position: absolute;
  top: calc(var(--offset) + var(--drop-height) + var(--logo-size) - var(--shadow-height) / 2 );
  left: calc(50% - var(--logo-size)/2);

  animation-name: grow; 
  animation-duration: 0.75s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  animation-iteration-count: infinite;
}

.loading-poke-ball:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@keyframes bounce {
  from { 
    transform: translateY(0) scale(1);
  }
  to   { 
    transform: translateY(var(--drop-height)) scale(1, 0.7);
  }
}

@keyframes grow {
  from {
    transform: scale(0.2, 0.5);								
  }

  to {
    transform: scale(1, 0.1);   
  }
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}