* {
  /* margin: 0px;
  padding: 0px;
  box-sizing: border-box; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

html, body {
  /* height: 100%;
  width: 100%; */
  background-color: #f6f6f6;
}

/* CSS for the app */

.page-container {
  position: relative;
  min-height: 100vh;
  background-color: #f6f6f6;
}

.content-wrap {
  margin-top: 5px;
  padding-bottom: 10rem;
  background-color: #ffffff;
  background-image: url('https://www.pixelstalk.net/wp-content/uploads/2016/07/Download-Free-Pokemon-Lucario-Background.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* CSS for NavBar */
.NavBar {
  background-color: goldenrod;
  font-size: 15px;
  height: 10vh;
  width: 100%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 5px;
  border-radius: 16px;
  height: 70%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.other-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 70%
}


/* CSS for home component */

.home-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.home-battle-container {
  display: flex;
}

.home-battle-description-card {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  border: 1px solid black;
}

.home-image-thumbnail {
  border-radius: 16px;
}

.home-image-thumbnail:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

.home-image-card {
  height: 100%;
  width: 50%;
  display: flex;
}

.home-image-card:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

.home-build-team-create-trainer-container {
  display: flex;
  height: 25vh;
  width: 100%;
}

.who-that-pokemon-container-home {
  display: flex;
  height: 58vh;
  width: 100%;

}

.who-that-pokemon-card {
  background-image: url("https://external-preview.redd.it/e5zoQw-hgw-LCjdhC_4G8IAcHxex5pzda_BD_FPTcBY.png?auto=webp&s=c0b96b5ec20010a15864b8a0c9b202c119e52fe8");
  background-size: cover;
  display: flex; 
  align-items: center;
  width: 50%
}

.who-that-pokemon-image {
  height: 60%;
  margin-left: 100px;
}

.who-that-pokemon-image-2 {
  height: 60%
}

.who-that-pokemon-image:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

.who-that-pokemon-image-2:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

.format-card {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.home-pokemon-description-container {
  display: flex;
  width: 100%;
  height: 45vh;
  justify-content: space-evenly;
  align-items: center;
}

.home-pokemon-description-card {
  border-radius: 16px;
  height: 90%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  overflow-y: scroll;
  transition: transform .2s
}

.home-pokemon-description-card:hover {
  transform: scale(1.5); 
}

.home-poke-type-card {
  display: flex;
}

.home-poke-ability-card {
  background-color: beige;
  border: 1px solid black;
  margin: 10px;
  width: 90%
}

.dragonite-button {
  background-color: lightgoldenrodyellow;
}

.dragonite-button:hover {
  background-color: yellowgreen;
}

.mewtwo-button {
  background-color: lightgray
}

.mewtwo-button:hover {
  background-color: yellow
}

.home-battle-button {
  background-color:lightblue;
  width: 15%; 
  margin-left:5px;
  margin-bottom:5px; 
  font-size:14px
}

.home-battle-button:hover {
  background-color: cyan;
}


/* CSS for safari zone/battle components */
.battle-sfzone-container-load {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 50%;
  animation: blinkingBackground 5s infinite;
}

.sf-zone-load-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.battle-p-tag-load {
  animation: blinkingPTag 5s infinite
}

@keyframes blinkingBackground {
  0%		{ background-color: red;}
  25%		{ background-color: black;}
  50%		{ background-color: red;}
  75%		{ background-color: black;}
  100%	{ background-color: red;}
}

@keyframes blinkingPTag {
  0%		{ color: black;}
  25%		{ color: red;}
  50%		{ color: black;}
  75%		{ color: red;}
  100%	{ color: black;}
}

.battle-sfzone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 80%;
}

.zone-container {
  margin: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  width: 70%;
  border: 3px solid orange;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d841b5t-d14186ca-887a-4f10-b4ca-b16d5aaff49a.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJmYjI4MjFhLTE0MDYtNGExZC05YjA0LTY2NjhmMjc4ZTk0NFwvZDg0MWI1dC1kMTQxODZjYS04ODdhLTRmMTAtYjRjYS1iMTZkNWFhZmY0OWEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5Pv6KPt53igISARqXxlqkRR4qtwKEB3LhHLyc1OQ9Wo');
  background-size: cover;
}

.trainer-battle-pokeball-container {
  display: flex;
  flex-direction: column;
}


.trainer-decision-making-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  animation-duration: 3s;
  animation-name: slideinleft
}

@keyframes slideinleft {
  from {
    margin-left: 100%;
  }

  75% {
    margin-left: 25%;
  }

  to {
    margin-left: 0%;

  }
}

.opponent-decision-making-container {
  margin: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  width: 70%;
  border: 3px solid orange;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d841b5t-d14186ca-887a-4f10-b4ca-b16d5aaff49a.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJmYjI4MjFhLTE0MDYtNGExZC05YjA0LTY2NjhmMjc4ZTk0NFwvZDg0MWI1dC1kMTQxODZjYS04ODdhLTRmMTAtYjRjYS1iMTZkNWFhZmY0OWEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5Pv6KPt53igISARqXxlqkRR4qtwKEB3LhHLyc1OQ9Wo');
  background-size: cover;
  animation-duration: 3s;
  animation-name: slideinright
}

@keyframes slideinright {
  from {
    margin-right: 100%;
  }

  75% {
    margin-right: 25%;
  }

  to {
    margin-right: 0%;
  }
}

.stats-card {
  background-color: honeydew;
  border-radius: 16px;
  height: 40%;
  width: 50%;
}

.trainer-stats-card {
  background-color: honeydew;
  border-radius: 16px;
}

.hp-card {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.attack-card {
  display: flex;
  justify-content: space-evenly;
}

.zone-image-card {
  width: 30%;
  height: 60%;
}

.zone-image-card-opponent {
  width: 30%;
  height: 60%;
}

.zone-image-card:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

.poke-ball-battle-pokemon:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

.move-card {
  margin-top: 10px;
  width: 65%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  justify-items: center;
}


.action-button {
  height: 70%;
  width: 80%;
}

.pokemon-attack {
  border:3px solid red;
  border-radius: 16px;
  margin-top: 10px;
  height: 150px;
  width: 250px
}

.pokemon-attack:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;

}

.flying-pidgeot-container {
  height: 100px;
  width: 50px;
  transform: scale(0) translateX(-10vw);
	will-change: transform;

	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
  animation-duration: 14s;
	animation-delay: 0;
}

.flying-pidgeot {
  will-change: background-position;
	animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: 0s;		

}

@keyframes fly-cycle {
	100% {
		background-position: -900px 0;
	}	
}

@keyframes fly-right-one {
	0% {
		transform: scale(0.6) translateX(-10vw);
	}

	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.8);
	}

	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.9);
	}

	30% {
		transform: translateY(4vh) translateX(50vw) scale(1);
	}

	40% {
		transform: translateY(2vh) translateX(70vw) scale(1);
	}

	50% {
		transform: translateY(0vh) translateX(90vw) scale(1);
	}

	60% {
		transform: translateY(0vh) translateX(100vw) scale(1);
	}

	100% {
		transform: translateY(0vh) translateX(110vw) scale(1);
	}
}

/* CSS for trainer component  */
.trainer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.create-trainer-container {
  height: 97%;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trainer-form {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.trainer-starter-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.trainer-image-container {
  margin-top: 20px;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.trainer-image-select-button {
  height: 20%
}

.footer {
  background-color: green;
  border: 1px solid black
}


/* PC container */

.pc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.search-bar-container {
  width: 80%;
  margin: 10px;
}

.search-bar {
  height: 100%;
  width: 100%;
}

.team-container {
  margin: 10px;
  width: 80%;
  border: 1px solid black;
  border-radius: 16px;
  display: flex;
  justify-content: flex-start;
  background-color: gray;
}

.team-container:hover {
  background-color: lightsteelblue;
}

.pokemon-team-pokeball {
  height: 100%;
}

.pokemon-team-pokeball:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

.pc-pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.my-pokemon-header {
  background-color: darkorange;
  height:50px;
  width: 775px;
  border: 1px solid black;
  display:flex;
  justify-content: center; 
  align-items: center;
}


.my-pokemon-header:hover {
  background-color: yellow;
}


.pc-pokemon-card{
  display: flex;
  flex-wrap: wrap;
  border: 3px solid gray;
  height: 900px;
  width: 60vw;
  margin: 10px;
  background-color: lightgray;
  overflow-y: scroll;
}

.pc-pokemon-card-single {
  border: 1px solid black;
  height: 125px;
  width: 125px;
  background-color: lightyellow;
}

.pc-pokemon-card-single:hover {
  background-color: gold;
}

.pokemon-pc-sprite {
  height: 15%;
  width: 15%;
  margin: 5px;
}



.pokemon-pc-sprite:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

.poke-ball-card {
  display: flex;

}

.poke-ball-button {
  background-color: crimson;
  height: 40%
}

.poke-ball-button:hover {
  background-color: gold;
}

.poke-ball-pc-box-button {
  background-color: lightgreen;
}

.poke-ball-pc-box-button:hover {
  background-color: green;
}

.pc-select-pokemon-card {
  border: 3px solid gold;
  background-color: beige;
  margin: 10px;
  width: 27%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  border-radius: 8px;
  transition: transform .2s
}

.pc-select-pokemon-card:hover {
  transform: scale(1.15)
}


.select-poke-card {
  display: flex;
  justify-content: flex-end;
  width: 100%
}

.pc-select-type {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pc-select-stat {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  border: 1px solid black;
  background-color: goldenrod;
  justify-content: center;
  width: 90%;
}

.pc-select-stat-2 {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  border: 1px solid black;
  background-color: goldenrod;
  width: 300px;
  justify-content: center;

}

.pc-select-ability {
  border: 1px solid black;
  width: 85%;
  height: 40%;
  overflow-y: scroll;
  margin: 10px;
  background-color: goldenrod
}

.pc-select-move {
  border: 1px solid black;
  height: 80%;
  width: 85%;
  overflow-y: scroll;
  margin: 10px;
  background: goldenrod;
}


/* code for loading component */

:root {
  --drop-height: 200px;										
  --logo-size: 100px;
  --offset: 50px;
  --shadow-height: 10px;
}

.loading-container {
  position: relative;
  width: 100%;
  height: 1000px;
}


.loading-poke-ball {
  width: var(--logo-size);
  height: var(--logo-size);
  position: absolute;
  top: var(--offset);
  left: calc(50% - var(--logo-size)/2);

  animation-name: bounce; 
  animation-duration: 0.75s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  animation-iteration-count: infinite;
}

.ball-shadow {
  width: var(--logo-size);
  height: var(--shadow-height);
  background: radial-gradient(50% 50%, rgb(0, 0, 0), rgba(150,150,150,0.05));
  position: absolute;
  top: calc(var(--offset) + var(--drop-height) + var(--logo-size) - var(--shadow-height) / 2 );
  left: calc(50% - var(--logo-size)/2);

  animation-name: grow; 
  animation-duration: 0.75s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  animation-iteration-count: infinite;
}

.loading-poke-ball:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@keyframes bounce {
  from { 
    transform: translateY(0) scale(1);
  }
  to   { 
    transform: translateY(var(--drop-height)) scale(1, 0.7);
  }
}

@keyframes grow {
  from {
    transform: scale(0.2, 0.5);								
  }

  to {
    transform: scale(1, 0.1);   
  }
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}