/* CSS for smartphones */
@media screen and (max-width: 980px) {
    .charizard-container {
        width: 80vw;
    }

    .charizard-details-card {
        width: 50%;
    }

    .charizard-image {
        width: 80%;
    }

    .gengar-image {
        width: 40%;
    }
}


/* CSS for laptops/tablets */
@media screen and (min-width: 981px) {
    .home-container{
        display: flex;
    }

    .charizard-container {
        width: 50vw;

    }

    .charizard-details-card {
        width: 30%;
    }

    .charizard-image {
        width: 15vw;
    }

    .gengar-image {
        width: 15vw;
    }
}

.home-container {
    margin: 10px;
}

.home-battle-button {
    margin: 5px;
    width: 15%
}

.charizard-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px
}

.charizard-card {
    background-color: orange;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pokeball {
    height: 100%;
    width: 20%;
}

.charizard-header {
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.charizard-image {
    height: 100%;
}

.charizard-details-card {
    margin: 8px;
    display: flex;
    flex-direction: column;
}

.details {
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.charizard-description-card {
    border: 2px solid black;
    padding: 20px;
}

.charizard-image:hover {
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
}

.pokeball:hover {
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
}