/* CSS for smartphones */

@media screen and (max-width: 980px) {
    .whos-that-pokemon-card{
        width: 80vw;
    }

    .pokemon-img-container {
        margin-left: 50px;
    }

    .pokemon {
        height: 50%;
        width: 100%;
    }
}


/* CSS for laptops */
@media screen and (min-width: 981px) {
    .whos-that-pokemon-card{
        width: 50vw;
    }

    .pokemon-img-container {
        margin-left: 100px;
    }

    .pokemon {
        width: 100%
    }

    .thrown-pokeball {
        height: 14vh;
        width: 8vw;
    }

    .bounce-pokeball {
        height: 14vh;
        width: 8vw;
    }

    .wiggle-pokeball {
        height: 14vh;
        width: 8vw;
    }

}

.whos-that-pokemon-card {
    background-image: url("https://external-preview.redd.it/e5zoQw-hgw-LCjdhC_4G8IAcHxex5pzda_BD_FPTcBY.png?auto=webp&s=c0b96b5ec20010a15864b8a0c9b202c119e52fe8");
    background-size: 100% 100%;
    display: flex; 
    flex-direction: column;
}

.pokemon-img-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh;
}

.thrown-pokeball {
    animation-duration: 0.75s;
    animation-name: throw;
}

@keyframes throw {
    from {
        margin-left: 100%;
        transform: 
            rotate(270deg) translateY(-100%);
        opacity: 0
    }

    to {
        margin-left: 0%;
        transform: 
            rotate(0deg) translateY(0%);
        opacity: 1
    }
}

.bounce-pokeball {
    animation-name: bounce; 
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    animation-iteration-count: infinite;
}

@keyframes bounce {
    from { 
      transform: translateY(0) scale(1);
    }
    to   { 
      transform: translateY(var(--drop-height)) scale(1, 0.7);
    }
}

.wiggle-pokeball {
    animation-name: wiggle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
