.login-paper {
    margin-top: 80px;

}

.logout-paper {
    margin-top: 80px;
    min-height: 50vh;
    min-width: 30vw;
    background-image: url('https://cdn.vox-cdn.com/thumbor/IKt535q8LMnJDddmLL74TBtzv88=/0x266:1024x949/1280x854/cdn.vox-cdn.com/uploads/chorus_image/image/48942277/N3DS_PokemonSuperMysteryDungeon_MainIllustration_png_jpgcopy.0.0.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.login-form {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
  
.submit {
    width: 50%;
    background-color: lightskyblue;
}

.logout-container {
    min-height: 100vh;
}
